---
layout: home
title: Smitty++
---

{% include head.html %}


<div class="container">
  {% include navbar.html %}


  <!---------------------->
  <!---Top of Jumbotron--->
  <div class="jumbotron">
    <h1 class="display-4">Smitty+</h1>
    <p class="lead">World-class research. Better academics.<br/> The name speaks for itself. </p>
  </div>
  <!---Bottom of Jumbotron--->
  <!------------------------->

  <!------------------------->
  <!---Carousel Top---------->
  <main role="main">
    <div id="myCarousel" class="carousel slide box my-3 rounded-lg" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner rounded-lg">
        <div class="carousel-item active rounded-lg">
          <img src="./images/hml.png" class="d-block w-100 rounded-lg" alt="Campus">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Smittcamp: where academics meets excellence.</h1>
              <p>Expand your horizons, apply today for fellowships.</p>
              <p><a class="btn btn-lg btn-primary" href="FlwDir.html" role="button">Apply today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item rounded-lg">
          <img src="./images/researchlab.jpg" class="d-block w-100 rounded-lg" alt="Lab">
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>Looking for On-Campus research opportunities? Look no further.</h1>
              <p><a class="btn btn-lg btn-primary" href="On-CampusResearch.html" role="button">Browse Labs</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item rounded-lg">
          <img src="./images/CookiePic.jpg" class="d-block w-100 rounded-lg" alt="Students">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Not a fan of research? Not a problem; check out these internships.</h1>
              <p><a class="btn btn-lg btn-primary" href="internships.html" role="button">Browse Internships</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!---Bottom of Carousel--->
    <!------------------------>

    <!-- Marketing messaging and featurettes
	    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Striving for<span class="text-muted"> excellence.</span></h2>
        <p class="lead">Whether in a nanobiology lab or an internship at Capitol Hill, Smittcamp encourages all
          students to venture out beyond their comfort zone and tap into a rich marketplace of ideas.</p>
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Get a jumpstart on your <span class="text-muted">career.</span></h2>
        <p class="lead">Fellowships provide an excellent way to gain valuable skills, receive phenomenal training, and
          prepare students for successful careers in their field.</p>
      </div>
      <div class="col-md-5 order-md-1">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <img src="./images/slack-logo-icon.png" width="60" height="60" class="d-block-inline row mx-1">
      <div class="col-md-7">
        <h2 class="featurette-heading">Continue the conversation on<span class="text-muted"> Slack.</span></h2>
      </div>
      <div class="col-md-7">
        <p class="lead">
          It's no secret Smittcampers do some amazing things, and you will too! Slack is an excellent resource to get
          connected with alumni
          <button type="button" class="btn btn-Slack text-dark btn-sm">Join Now</button>
        </p>
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END OF THE FEATURETTES -->
    <!-- HTML to write -->
  </main>

</div><!-- /.container -->
