---
---
{% assign tags = "" %}
{% case page.collection %}
    {% when 'fellowships' %}
        {%- for entry in site.fellowships -%}
            {%- if entry.layout == 'tag_dir' -%}
                {%- assign tags = tags | append: entry.title | downcase | append: ',' -%}
            {%- endif -%}
        {%- endfor -%}

    {% when 'internships' %}
        {%- for entry in site.internships -%}
            {%- if entry.layout == 'tag_dir' -%}
                {%- assign tags = tags | append: entry.title | downcase | append: ',' -%}
            {%- endif -%}
        {%- endfor -%}
    {% when 'oncampusresearch' %}
        {%- for entry in site.fellowships -%}
            {%- if entry.layout == 'tag_dir' -%}
                {%- assign tags = tags | append: entry.title | downcase | append: ',' -%}
            {%- endif -%}
        {%- endfor -%}
    {% else %}

{% endcase %}
{%- assign tags = tags | split: "," -%}
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="container">
            {% include breadcrumbs.html %}

            <!--Annotated List Group-->
            <div class="col-mb-12">
                <div class="list-group">
                    <a class="list-group-item text-white list-group-item-action active">Disciplines</a>
                    {% for tag in tags %}
                        {% assign mycount = 0 %}
                        {% case page.collection %}
                            {% when "fellowships" %}
                                {% for entry in site.fellowships %}
                                    {% if entry.layout == 'fellowship' %}

                                        {% if entry.tags contains tag %}
                                            {% assign mycount = mycount | plus: 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% when 'internships' %}
                                {% for entry in site.internships %}
                                    {% if entry.layout == 'fellowship' %}

                                        {% if entry.tags contains tag %}
                                            {% assign mycount = mycount | plus: 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% when 'oncampusresearch' %}
                                {% for entry in site.oncampusresearch %}
                                    {% if entry.layout == 'fellowship' %}

                                        {% if entry.tags contains tag %}
                                            {% assign mycount = mycount | plus: 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% assign mycount = 'N/A' %}
                        {% endcase %}
                        {%- if mycount > 0 -%}
                            <a class="list-group-item list-group-item-action" href="./{{ tag | downcase | replace: ' ', '_'}}.html">
                                {{ tag | capitalize}}
                                <span class="badge badge-primary badge-pill">
                                    {{ mycount }}
                                </span>
                            </a>
                        {%- endif -%}
                    {% endfor %}
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- FOOTER -->
            {% include footer.html %}
        </div>
    </body>

</html>
