{% include head.html %}

<body>
  <div class="container">
    {% include navbar.html %}
    <div class="card border-0 text-white">
      <div class="box">
        <img src="{{ page.img_url }}" class="img-fluid rounded-lg" alt="{{ page.title }}">
      </div>
      <div class="card-img-overlay">
        <h1 class="text_left font-weight-bold">{{ page.title }}</h1>
      </div>
    </div>
    <H2 class="text-muted py-2">{{ page.subtitle }}</H2>
    {{ page.content }}
    {% for alum in site.alumni %}
    {% if alum.path contains page.alum %}
    <h4 id="list-item-4">SFHC Alumni</h4>
    <div class="container py-3">
      <div class="card shadow" style="width: 18rem;">
        <img src="{{ alum.img_url }}" class="card-img-top" alt="{{ alum.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ alum.first_name }} {{ alum.last_name }}</h5>
          <h6 class="card-text muted-text"> Cohort: {{ alum.Cohort }} </h6>
          <h6 class="card-text muted-text"> Fellow in {{ alum.fellowship_year }} </h6>
          <p class="card-text">{{ alum.flw_1_bio }}</p>
          <a href="#" class="btn btn-primary"> Contact {{ alum.first_name }} </a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <h4 id="list-item-5">Website</h4>
    <p>
      For more info visit <a href="{{ page.info_url }}">https://www.nyureu.org/</a>
    </p>


  </div>
  {% include footer.html %}
</body>

</html>
