{% include head.html %}

<body>
  <div class="container">
    {% include breadcrumbs.html %}


    <div class="card border-0 text-white">
      <div class="box">
        <img src="{{ page.img_url }}" class="img-fluid rounded-lg" alt="{{ page.title }}">
      </div>
      <div class="card-img-overlay">
        <h1 class="text_left font-weight-bold">{{ page.title }}</h1>
      </div>
    </div>
    <H2 class="text-muted py-2">{{ page.subtitle }}</H2>
    {{ page.content }}
    <h4 id="list-item-4">SFHC Alumni</h4>
    <div class="container-fluid mt-4">
      <div class="row py-3 flex-nowrap" style="overflow-x: scroll; -webkit-overflow-scrolling: touch">
        {% assign alums = site.data.alumni | where: "verified","Y" %}
        {% for alum in alums %}
        <div class="col-auto mb-3">
          <div class="card shadow" style="width: 18rem;">
            <img src="/images/headshots/{{ alum.name | downcase | replace: " ", ""}}.jpg" width="50" class="card-img-top" alt="{{ alum.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ alum.name }} '{{ alum.grad_year | modulo: 100}}</h5>
              <h6 class="card-text muted-text"> Fellow in {{ alum.fellowship_year }} </h6>
              <p class="card-text">{{ alum.flw_1_bio }}</p>
              <a href="#" class="btn btn-primary"> Contact {{ alum.first_name }} </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <h4 id="list-item-5">Website</h4>
    <p>
      Visit<a href="{{ page.info_url }}"></a> for more info.
    </p>


  </div>
  {% include footer.html %}
</body>

</html>
