<!DOCTYPE html>
<html>
	<head>
		<title>Fellowship Directory</title>
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<main>
		<div class="container">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="Smitty Plus.html">Home</a></li>
			    <li class="breadcrumb-item active" aria-current="page">On-Campus Research</li>
			  </ol>
			</nav>

					<div class="col-mb-12">
						<div class="list-group">
							  <a href="#" class="list-group-item list-group-item-action active">
							    Disciplines
							  </a>
						  <a href="DejeanLab.html" class="list-group-item list-group-item-action">Dejean Lab</a>
						  <a href="chemflw.html" class="list-group-item list-group-item-action">...</a>
						  <a href="#" class="list-group-item list-group-item-action">...</a>						</div>
					</div>

			<hr class="featurette-divider">

			<!-- FOOTER -->
			<footer class="container">
				<p class="float-right"><a href="#">Back to top</a></p>
				<p> &copy; 2019 Smitty Plus, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</footer>

		</div><!-- /.container -->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</main>

	</html>

	{% include head.html %}

	<body>
	  <div class="container">
	    {% include navbar.html %}
	    <div class="card border-0 text-white">
	      <div class="box">
	        <img src="{{ page.img_url }}" class="img-fluid rounded-lg" alt="{{ page.title }}">
	      </div>
	      <div class="card-img-overlay">
	        <h1 class="text_left font-weight-bold">{{ page.title }}</h1>
	      </div>
	    </div>
	    <H2 class="text-muted py-2">{{ page.subtitle }}</H2>
	    {{ page.content }}
	    {% for alum in site.alumni %}
	    {% if alum.path contains page.alum %}
	    <h4 id="list-item-4">SFHC Alumni</h4>
	    <div class="container py-3">
	      <div class="card w-75" id="alumnus">
	        <div class="row ">
	          <div class="col-md-8 px-3">
	            <div class="card-block px-3">
	              <h4 class="card-title">{{ alum.name }}</h4>
	              <h5 class="card-text muted-text"> C/O {{ alum.class }} </h5>
	              <p class="card-text">{{ alum.bio }}</p>
	              <a href="#" class="btn btn-primary">Read More</a>
	            </div>
	          </div>
	          <div class="col-md-4">
	            <img src="{{ alum.img_url }}" class="w-75 rounded-circle">
	          </div>
	        </div>
	      </div>
	    </div>
	    {% endif %}
	    {% endfor %}
	    <h4 id="list-item-5">Website</h4>
	    <p>
	      For more info visit <a href="{{ page.info_url }}">https://www.nyureu.org/</a>
	    </p>


	  </div>
	  {% include footer.html %}
	</body>

	</html>
