---

---
<!doctype html>
<html lang="en">
{%- assign tag = page.path | remove: ".html" | split: "/" -%}
{%- assign tag = tag.last | replace: '_',' ' -%}
{% include head.html %}

<body>
  <div class="container">
    {% include breadcrumbs.html %}
    <h3>
      {{ page.title }}
      <small class="text-muted">{{ page.subtitle }}</small>
    </h3>

    <ul class="list-group">
      {%- case page.collection -%}
        {%- when 'fellowships' -%}
          {%- assign entries = site.fellowships | where: 'layout','fellowship' -%}

          {%- when 'internships' -%}
          {%- assign entries = site.internships | where: 'layout','fellowship' -%}
          {%- when 'oncampusresearch' -%}
          {%- assign entries = site.oncampusresearch | where: 'layout','fellowship' -%}
          
        {%- else -%}
          
      {%- endcase -%}
 
      {% for entry in entries %}
      {% if entry.tags contains tag %}
      <li class="list-group-item">
        <a href="{{ entry.url }}">{{ entry.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <hr class="featurette-divider">

    <!-- FOOTER -->
    {% include footer.html %}
</body>

</html>